body {
    background-image: url('background_image.png');
}

@keyframes imageAnimation {
    0%, 49.99% {
        opacity: 1;
        background-image: url('eiiba_image.png');
    }
    50%, 100% {
        opacity: 1;
        background-image: url('eiiba_image_p2.png');
    }
}

.image-container {
    width: 100px; 
    height: 100px; 
    animation-name: imageAnimation;
    animation-duration: 1s; 
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    background-size: cover;
}

footer a {
    color: white;
    background-color: black;
  }
  
  a:not(footer a) {
    color: black;
  }

  footer{
    color:white;
    background-color: black;
  }
.image-link {
    text-decoration: none; 
    display: block;
}

nav ul{
    list-style: none;
    background-color: skyblue;
    font-size: 0;
    text-align: center;
    border: 1px solid tan;

}

nav li{
    width: 150px;
    text-align: center;
    display: inline-block;
    font-size: 20px;

}

nav li a{
    text-decoration:none;
    font-weight: bold;
}
main{
    background-color: white;
}

a:hover:not(.image-link){
    color: transparent;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
    background-clip: text;
    display: inline-block
}

header:not(nav){
    background-color:tan;
}

h3{
    text-align: center;
    background-image: linear-gradient(45deg, #FFD700, #FCC200, #FFD700, #E5BE01, #FCC200, #FFD700);
    color:#333;
    padding: 10px;
    border-radius: 5px;
}
